<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="add" method="post">
        <label id="addTodo">The Task</label>
        <input type="text" name="task" id="addTodo"/>
        <label id="check">Is It Urgent?</label>
        <input type="checkbox" name="isUrgent" value ="true" id="check"/>
        <button type="submit">Add</button>
    </form>
</body>
</html>
<style>
    body{
        font-size: 30px;
        font-family: 'Times New Roman';
    }
    input{
        height: 30px;
    }
    button:hover{
        cursor: pointer;
        background-color: black;
        color: white;
    }
</style>