@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>This Assignee does not exist, you have to create him first</p>
    <a asp-controller="Assignee" asp-action="AddAssignee">Add new Assignee</a>
    <a asp-controller="Todo" asp-action="List">List all Todos</a>
</body>
</html>