<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="add" method="post">
        <label id="addAssignee">Name</label>
        <input type="text" name="name" id="addAssignee" />
        <label id="addEmail">Email</label>
        <input type="email" name="email" id="addEmail" />
        <button type="submit">Add</button>
    </form>
</body>
</html>
<style>
    body {
        font-size: 30px;
        font-family: 'Times New Roman';
    }

    input {
        height: 30px;
    }

    button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
</style>